*
!.bashrc
!.ctags
!.gitignore
!.gitmodules
!.tmux.conf
!.vimrc
!/.vim
!/.vim/
!/.vim/*
!/.vim/**/*
!/z
!/z/
!/z/*
!/tmux-resurrect
!/tmux-resurrect/
!/tmux-resurrect/*
!DarkWash.itermcolors
!readme.md
