# bind -P | grep edit
set editing-mode vi

set keymap vi-command
"k": history-search-backward
"j": history-search-forward

set keymap vi-insert
"\C-A": beginning-of-line
"\C-D": delete-char
"\C-E": end-of-line
"\C-F": forward-word
"\C-G": backward-word
"\C-K": kill-line
"\C-L": clear-screen
"\C-N": next-history
"\C-P": previous-history
"\eb": backward-char
"\ef": forward-char
"\ed": kill-word

set completion-ignore-case on
set menu-complete-display-prefix on
